:root {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;
    list-style: none;
    margin-inline: 0;
    padding-inline: 0;
    background: #555555;
    color: white;
}

h3 {
    font-size: 2.4rem;
    display: inline-block;
    margin: 0;
}

.container {
    width: 90%;
    margin:  2rem auto;
}

.faq-container {
    position: relative;
    background-color: #aaaaaa;
    border-radius: 2rem;
    margin-top: 2rem;
    padding: 2.4rem 3.2rem 2.4rem 3.2rem;
    transition: all 1.5s ease;
}

.faq-container.active {
    height: 7rem;
    box-shadow: 0px 3px 6px #2a2a2a;
    background: linear-gradient(to right,#aaaaaa,#d4d4d4);
}

.faq-question {
    width: -moz-fit-content;
    width: fit-content;
}

.faq-container .faq-answer {
    display: none;
}

.faq-container.active .faq-answer {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
}

.faq-container.active .faq-question {
    display: block;
}

.faq-container .faq-toggle {
    position: absolute;
    display: flex;
    justify-content: center;;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: none;
    top: 2rem;
    right: 3.2rem;
}


.faq-container .open-icon {
    display: block;
    font-size: 3.2rem;
}

.faq-container .close-icon {
    display: none;
}

.faq-container.active .open-icon {
    display: none;
}

.faq-container.active .close-icon {
    display: block;
    font-size: 3.2rem;
}