@mixin default-css-rules {
    font-size: 62.5%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;
    list-style: none;
    padding-inline: 0;
    margin-inline: 0;
}

// @mixin flexbox-rulesets {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }